html {
  font-size: 150%; }

* {
  margin: 0px;
  padding: 0px; }

/* Estilo general del sitio */
body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Staatliches', cursive; }

/* un fondo generico para elementos que deja ver la imagen de atras */
.fondo-transparente {
  background-color: rgba(255, 255, 255, 0.603);
  border: 5px;
  border-style: outset; }

/* Estilos del header y menu */
header {
  display: flex; }

/* Logo ubicado a la izquierda */
#logotipo {
  width: 62PX;
  height: 72PX;
  animation-name: rotarLogo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 10px; }

/* Animacion de logotipo */
@keyframes rotarLogo {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* listado/nav para el menu */
#menu-fixed {
  z-index: 8;
  display: flex;
  flex-flow: row;
  top: 0%; }

.menu-fixed__nav {
  color: rgba(100, 167, 24, 0.938);
  text-shadow: 1px 1px 1px #181818;
  margin: 0px;
  padding: 0px; }

#menu-fixed li:hover {
  color: rgba(100, 167, 24, 0.938);
  background-color: rgba(24, 221, 211, 0.815); }

#submenu ul {
  padding: 10px;
  list-style-type: none;
  display: none;
  position: absolute; }

#submenu ul li {
  font-size: 1em;
  padding: 10px;
  list-style-type: none;
  background-color: rgba(24, 221, 211, 0.815); }

/* Fin de menu */
/* active para hacer saber en que pag esta */
.active {
  background-color: rgba(24, 221, 211, 0.815); }

/* no hacer llamativo el footer */
footer {
  background-image: linear-gradient(to bottom, rgba(24, 221, 211, 0.815), rgba(100, 167, 24, 0.938));
  margin-top: 50px; }

/* redes visibles a la izquierda */
#redes {
  flex-flow: row;
  position: fixed;
  bottom: 0%; }

/* emprolijar redes */
.logo-redes {
  padding-left: 5px;
  margin: 8px; }

.contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-around;
  align-items: center; }

/* imagen heraldo*/
.contacto-img {
  width: 100%;
  height: 100%; }

.container-contact {
  background: #faffe0;
  box-sizing: border-box;
  border-radius: 20px; }

@media all and (min-width: 320px) {
  .container-contact {
    width: 100%; } }

@media all and (min-width: 768px) {
  .container-contact {
    width: 80%; } }

@media all and (min-width: 1024px) {
  .container-contact {
    width: 70%; } }

.text-muted {
  font-size: 20px;
  font-weight: bold; }

.form-title {
  font-weight: bold; }

.form-group label {
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
  color: #828282; }

.form-control {
  border: none;
  border-radius: 20px;
  background: rgba(165, 147, 69, 0.075);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2); }

.btn-c {
  font-size: 12px;
  margin-top: 10px;
  background-color: rgba(56, 147, 243, 0.67);
  text-align: center;
  border-radius: 5px; }

.form-control:focus {
  color: #495057;
  border-color: #faffe0;
  outline: 0;
  box-shadow: 0 1px 1px 1px rgba(0, 123, 255, 0.25); }

.contact-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%; }

.social-contact {
  margin: 20px; }

.social-icon {
  margin: 5px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  cursor: pointer; }

.social-twitter {
  background-color: #55acee; }

.social-facebook {
  background-color: #3b5999; }

.social-linkedin {
  background-color: #0077B5; }

.social-google {
  background-color: #dd4b39; }

.social-instagram {
  background-color: #dd4b39; }

.social-icon i {
  transition: 0.4s all; }

.social-icon:hover i {
  transform: scale(1.4); }

@media all and (min-width: 320px) {
  .section-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-info__description {
    margin: 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media all and (min-width: 768px) {
  .section-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-info__description {
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media all and (min-width: 1024px) {
  .section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .section-info__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.section-info__img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transition: all 1s; }

.section-info__img:hover {
  width: 250px;
  height: 250px; }

.section-info__text {
  padding: 5px;
  background-color: rgba(62, 143, 168, 0.616);
  border: 2px solid black;
  margin: 10px; }

/* fin de personajes */
.wrapper {
  padding: 30px;
  max-width: 1200px;
  margin: auto; }

.h3 {
  font-weight: 900; }

.views {
  font-size: 0.85rem; }

.btn {
  color: #666;
  font-size: 0.85rem; }

.btn:hover {
  color: #61b15a; }

.green-label {
  background-color: #defadb;
  color: #48b83e;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 3px; }

.radio,
.checkbox {
  padding: 6px 10px; }

.border {
  border-radius: 12px; }

.options {
  position: relative;
  padding-left: 25px; }

.radio label,
.checkbox label {
  display: block;
  font-size: 14px;
  cursor: pointer;
  margin: 0; }

.options input {
  opacity: 0; }

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 50%; }

.options input:checked ~ .checkmark:after {
  display: block; }

.options .checkmark:after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background: white;
  position: absolute;
  top: 52%;
  left: 51%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s; }

.options input[type="radio"]:checked ~ .checkmark {
  background: #61b15a;
  transition: 300ms ease-in-out 0s; }

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1); }

.count {
  font-size: 0.8rem; }

label {
  cursor: pointer; }

.tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0; }

.tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px; }

.tick:hover input ~ .check {
  background-color: #f3f3f3; }

.tick input:checked ~ .check {
  background-color: #61b15a; }

.check:after {
  content: "";
  position: absolute;
  display: none; }

.tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1); }

.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2); }

#country {
  font-size: 0.8rem;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0px 10px;
  outline: none;
  font-weight: 900; }

.close {
  font-size: 1.2rem; }

div.text-muted {
  font-size: 0.85rem; }

#sidebar {
  width: 25%;
  float: left; }

.category {
  font-size: 0.9rem;
  cursor: pointer; }

.badge-primary {
  background-color: #defadb;
  color: #48b83e; }

.brand .check {
  background-color: #fff;
  top: 3px;
  border: 1px solid #666; }

.brand .tick {
  font-size: 1rem;
  padding-left: 25px; }

.rating {
  background-color: #fff;
  border-radius: .25rem; }

.rating .check {
  background-color: #fff;
  border: 1px solid #666;
  top: 0; }

.rating .tick {
  font-size: 0.9rem;
  padding-left: 25px; }

.rating .fas.fa-star {
  color: #ffbb00;
  padding: 0px 3px; }

.brand .tick:hover input ~ .check,
.rating .tick:hover input ~ .check {
  background-color: #f9f9f9; }

.brand .tick input:checked ~ .check,
.rating .tick input:checked ~ .check {
  background-color: #61b15a; }

#products {
  width: 100%;
  padding-left: 30px;
  margin: 0; }

.card {
  margin-top: 20px; }

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer; }

.card-body {
  padding: 0.5rem; }

.card-body .description {
  font-size: 0.78rem;
  padding-bottom: 8px; }

div.h6,
h6 {
  margin: 0; }

.product .fa-star {
  font-size: 0.9rem; }

.rebate {
  font-size: 0.9rem; }

.btn.btn-primary {
  background-color: #48b83e;
  color: #fff;
  border: 1px solid #008000;
  border-radius: 10px;
  font-weight: 800; }

.btn.btn-primary:hover {
  background-color: #48b83ee8; }

.clear {
  clear: both; }

.btn.btn-success {
  visibility: hidden; }

@media (min-width: 992px) {
  .filter,
  #mobile-filter {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .radio,
  .checkbox {
    padding: 6px 10px;
    width: 49%;
    float: left;
    margin: 5px 5px 5px 0px; }
  .filter,
  #mobile-filter {
    display: none; } }

@media (min-width: 576px) and (max-width: 767px) {
  #sidebar {
    width: 35%; }
  #products {
    width: 65%; }
  .filter,
  #mobile-filter {
    display: none; }
  .h3 + .ml-auto {
    margin: 0; } }

@media (max-width: 575px) {
  .wrapper {
    padding: 10px; }
  .h3 {
    font-size: 1.3rem; }
  #sidebar {
    display: none; }
  #products {
    width: 100%;
    float: none; }
  #products {
    padding: 0; }
  .clear {
    float: left;
    width: 80%; }
  .btn.btn-success {
    visibility: visible;
    margin: 10px 0px;
    color: #fff;
    padding: 0.2rem 0.1rem;
    width: 20%; }
  .green-label {
    width: 50%; }
  .btn.text-success {
    padding: 0; }
  .content,
  #mobile-filter {
    clear: both; } }

/* estilo al boton de volver atras */
.boton-home {
  color: #faffe0;
  font-size: 0.8em;
  margin: 20px;
  background-color: rgba(24, 221, 211, 0.815);
  border: 2px solid #630404;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 1s; }

/* accion de mouse sobre el boton menu */
.boton-home:hover {
  font-size: 0.9em;
  background-color: rgba(3, 61, 5, 0.918); }

/* estilizar botones */
input[type=submit], [type=reset] {
  background-color: rgba(100, 167, 24, 0.938);
  color: #faffe0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin: 3px; }

input[type=button] {
  display: none; }

#contacto_form label {
  color: #faffe0;
  text-shadow: 2px 1px 1.5px rgba(3, 61, 5, 0.918);
  font-size: 30px;
  font-weight: 5px;
  border: none; }

input[type=text], [type=email] {
  height: 30px;
  width: 50%; }

input[type=text], [type=email]:focus {
  border: 3px solid #faffe0; }

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #faffe0;
  border-radius: 4px;
  background-color: #faffe0;
  resize: none; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.gallery div img {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 20px; }

.shrink img:hover {
  cursor: pointer;
  border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-timing-function: ease-out;
  -ms-transform: scale(1.2, 1.2);
  -ms-transition-timing-function: ease-out;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms; }

@media (min-width: 320px) {
  h1 {
    font-size: 3.5em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.2em; }
  h4 {
    font-size: 0.9em; }
  h5 {
    font-size: 0.6em; }
  h6 {
    font-size: 0.5em; } }

@media (min-width: 768px) {
  h1 {
    font-size: 3.75em; }
  h2 {
    font-size: 1.75em; }
  h3 {
    font-size: 1.45em; }
  h4 {
    font-size: 1.15em; }
  h5 {
    font-size: 0.85em; }
  h6 {
    font-size: 0.75em; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 4em; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1.7em; }
  h4 {
    font-size: 1.4em; }
  h5 {
    font-size: 1.1em; }
  h6 {
    font-size: 1em; } }

/* titulo principal de la pagina*/
.titulo {
  text-align: center;
  text-shadow: 7px 4px 5px rgba(24, 221, 211, 0.815);
  font-weight: 5px;
  text-decoration: underline;
  margin: 30px; }

.subtitulo {
  font-size: 40px;
  text-shadow: 7px 4px 5px rgba(24, 221, 211, 0.815);
  font-weight: 5px; }

@media (min-width: 320px) {
  p, li {
    font-size: 16px; } }

@media (min-width: 768px) {
  p, li {
    font-size: 18px; } }

@media (min-width: 1024px) {
  p, li {
    font-size: 20px; } }

/* Prueba de estilos en tabla */
#seccion-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.seccion-table__comp {
  border: 2px solid #630404;
  background-color: rgba(255, 255, 255, 0.603);
  width: 50%;
  height: 200px;
  margin-bottom: 50px;
  text-align: center;
  border-collapse: collapse; }

.seccion-table__comp td, .tablaComparativa th {
  border: 1px solid #faffe0;
  padding: 3px 2px; }

.seccion-table__comp tbody td {
  font-size: 1em; }

.seccion-table__comp thead {
  background: #630404; }

.seccion-table__comp thead th {
  font-size: 1em;
  font-weight: bold;
  color: #faffe0;
  text-align: center;
  border-left: 2px solid #630404; }

.seccion-table__comp--sqins {
  list-style: square inside; }

@media all and (min-width: 768px) {
  .section-home {
    margin-right: 10%;
    margin-left: 10%; } }

@media all and (min-width: 1024px) {
  .section-home {
    margin-right: 20%;
    margin-left: 20%; } }

@media all and (min-width: 320px) {
  .cards-flex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card-fix {
    margin: 20px;
    width: 70%; } }

@media all and (min-width: 768px) {
  .cards-flex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card-fix {
    margin: 20px;
    width: 50%; } }

@media all and (min-width: 1024px) {
  .cards-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .card-fix {
    width: 33%; } }
