//No encontre forma de meterlo en mi proyecto, pero queria jugar y cumplir el desafio complementario

//vars

$sizes: 50px, 100px, 150px;

//each

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

