
/* no hacer llamativo el footer */
footer {
    background-image: linear-gradient(to bottom, $aqua-green, $ligth-green);
    margin-top: 50px;
}

/* redes visibles a la izquierda */
#redes {
    flex-flow: row;
    position: fixed;
    bottom: 0%;
}

/* emprolijar redes */
.logo-redes {

    padding-left: 5px;
    margin: 8px;

}