/* Estilos del header y menu */

header {
    display: flex;
}
/* Logo ubicado a la izquierda */
#logotipo {
    width: 62PX;
    height: 72PX;
    animation-name: rotarLogo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
}

/* Animacion de logotipo */
@keyframes rotarLogo {
    0%{
        transform: rotate(0deg); }
    100%{
        transform: rotate(360deg); }
}

/* listado/nav para el menu */
#menu-fixed {
    z-index: 8;
    display: flex;
    flex-flow: row;
    top: 0%;
}


.menu-fixed__nav {
    color: $ligth-green;
    text-shadow: 1px 1px 1px $shadow-black;
    margin: 0px;
    padding: 0px;
}

#menu-fixed li:hover {
    color: $ligth-green;
    background-color: $aqua-green;
}


#submenu ul {
    padding: 10px;;
    list-style-type: none;
    display: none;
    position: absolute;
}

#submenu ul li {
    font-size: 1em;
    padding: 10px;
    list-style-type: none;
    background-color: $aqua-green;
}


/* Fin de menu */

/* active para hacer saber en que pag esta */

.active {
    background-color:  $aqua-green;
}

