.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.gallery div img {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin:20px;
}



.shrink img:hover {
  cursor: pointer;
  border-radius: 0px;
-webkit-transform: scale(1.2, 1.2);
-webkit-transition-timing-function: ease-out;
                    -moz-transform: scale(1.2, 1.2);
   -moz-transition-timing-function: ease-out;
                     -ms-transform: scale(1.20, 1.20);
    -ms-transition-timing-function: ease-out;

       -webkit-transition-duration: 500ms;
          -moz-transition-duration: 500ms;
           -ms-transition-duration: 500ms;
}
