//Carousel

  @media all and (min-width: 768px) {
    .section-home {
        margin-right: 10%;
        margin-left: 10%;
    }
  }
  
  @media all and (min-width: 1024px) {
    .section-home {
        margin-right: 20%;
        margin-left: 20%;
    }
  }
