//Idea de media query con mixin, probando 1... 2... 3...

@mixin encabezados($tamanio) {
    h1 {
      font-size: $tamanio + 2;
    }
    h2 {
      font-size: $tamanio;
    }
    h3 {
      font-size: $tamanio - 0.3;
    }
    h4 {
        font-size: $tamanio - 0.6;
      }
    h5 {
        font-size: $tamanio - 0.9;
    }
    h6 {
        font-size: $tamanio - 1;
    }
  }


@media(min-width: 320px) {
  @include encabezados(1em);
}
@media(min-width: 768px) {
  @include encabezados(1.5em);
}
@media(min-width: 1024px) {
  @include encabezados(2em);
}




/* titulo principal de la pagina*/

.titulo {
    text-align: center;
    text-shadow: 7px 4px 5px $aqua-green;
    font-weight: 5px;
    text-decoration: underline;
    margin: 30px;

}
 
// Haciendo responsive el texto del sitio

@media(min-width: 320px) {
  p {
    font-size: 10px;
  }
}
@media(min-width: 768px) {
  p {
    font-size: 15px;
  }
}
@media(min-width: 1024px) {
  p {
    font-size: 20px;
  }
}
