* {
    margin: 0px;
    padding: 0px;

}
/* Estilo general del sitio */

body {
    background-image: url(../img/background.jpg);
    font-family: 'Staatliches', cursive;
}

/* un fondo generico para elementos que deja ver la imagen de atras */
.fondo-transparente {
    background-color: $glass;
    border: 5px;
    border-style: outset;
}

@media all and (min-width: 320px) {
    body {
        background-size: cover;
    }
}
@media all and (min-width: 768px) {
    body {
        background-size: contain;
    }
}
@media all and (min-width: 1024px) {
    body {
        background-size: contain;
    }
}