* {
    margin: 0px;
    padding: 0px;

}
/* Estilo general del sitio */

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
}

/* un fondo generico para elementos que deja ver la imagen de atras */
.fondo-transparente {
    background-color: $glass;
    border: 4px solid;
    border-style: outset;
}
