* {
    margin: 0px;
    padding: 0px;

}
/* Estilo general del sitio */

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Staatliches', cursive;
}

/* un fondo generico para elementos que deja ver la imagen de atras */
.fondo-transparente {
    background-color: $glass;
    border: 5px;
    border-style: outset;
}
